@import "tailwindcss";

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("/src/assets/images/fullpage-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

